:root {
  --color-purple: #682ca6;
  --color-ocean-green: #6ccf9b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #12132a;
}

.ant-anchor-link-title {
  color: #fdfdff;
}

.ant-anchor-link-active {
  color: #ffffff;
  font-weight: bold;
}

.light-gray-link {
  color: #767799;
}
.light-gray-link:hover {
  color: white;
}
